body {
	margin: 0px;
	padding: 0px;
}

header {
	height:99px; 
	width:1920px;
	display: inline;
}

.logo {
	display: inline;
}

.logo img {
	height: 67px;
	width: 194px;
	display: inline;
}

.nav {
	display: inline-block;
}

.nav .menu li {
	list-style-type: none;
	display: inline-block;
}

.nav .menu li p {
	display: inline;
}

#slideshow {
  margin: 80px auto;
  position: relative;
  width: 1920px;
  height: 720px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.intro {
	height:406px; 
	width:1920px;
}

.cuadricula {
	height:917px; 
	width:1920px;
}

.cuadricula .paneles li {
	list-style-type: none;
	display: inline;
}

.cuadricula .paneles li img {
	display: inline;
}

.servicios {
	min-height: 500px;
    max-height: 790px;
    padding-top: 260px;
    background-size: cover;
    margin-top: 40px;
	background-image: url("img/servicios.png");
}

.prestaciones .horrores {
	list-style-type: none;
}

.data {
	height:666px; 
	width:1920px;
}

.perk {
	display: inline-block;
	margin: auto;
}

.perk p {
	text-align: center;
}

.sociales {
	display: block;
}

.sociales li {
	list-style-type: none;
	display: inline-block;
}

.sociales li img {
	margin: auto;
}

.banca .president img {
	height: 100px;
	width: 100px;
	display: block;
	margin: auto;
}

.banca .international img {
	height: 39px;
	width: 200px;
	display: block;
	margin: auto;
}

.banca .nintendo img {
	height:85px; 
	width:150px;
	display: block;
	margin: auto;
}

footer {
	height:471px; 
	width:1920px;
	background-color: #79bd53;
}